{% extends 'base.html.twig' %}

{% block title %}
	- Nos produits
{% endblock %}

{% block body %}
    <div class="h-30 flex justify-center my-8">
        <nav aria-label="Page navigation example">
            <ul class="list-style-none flex">
                {% if page > 1 %}
                    <li>
                        <a class="relative hover:bg-black hover:text-white block border-rounded border-2 border-black rounded px-3 py-1.5 text-sm text-black" href="{{path('home.products', {'page': page - 1, 'categorie' : category is defined ? category|url_encode : null})}}"><i class="fa-solid fa-arrow-left-long"></i></a>
                    </li>
                {% endif %}
                <li aria-current="page">
                    <p class="relative border-rounded border-2 border-black mr-3 ml-3 block rounded px-3 py-1.5 text-sm text-black">{{page}}</p>
                </li>
                {% if totalPage > page  %}
                    <li aria-current="page">
                        <a class="relative hover:bg-black hover:text-white block border-rounded border-2 border-black rounded px-3 py-1.5 text-sm text-black" href="{{path('home.products', {'page': page + 1, 'categorie' : category is defined ? category|url_encode : null})}}">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div>
        <div class="grid grid-cols-12">
            <div class="col-span-2 px-5">
                <h4 class="text-2xl my-4">Catégories</h4>
				<ul class="text-md space-y-3">
                    {% for category in categories %}
                        <li>
                            <a class="hover:underline {{ selectedCategory is not null and selectedCategory == category.label ? 'font-bold' : ''}}" href="{{path('home.products', {'categorie' : category.label|url_encode})}}">
                                {{category.label}}
                            </a>
                        </li>                        
                    {% endfor %}
                    <li>
                        <a class="hover:underline {{ selectedCategory is null ? 'font-bold' : ''}}" href="{{path('home.products', {'categorie' : null})}}">
                            Tous
                        </a>
                    </li>   
				</ul>
			</div>
            <div class="col-span-9">
                <div class="grid grid-cols-4 gap-10">
					{% for product in products %}
						<div onclick="location.href='{{product.viewPageUrl}}'" class="max-w-sm rounded hover:border-4 hover:border-red-300 overflow-hidden shadow-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-105 duration-300">
							{% if product.productReferences|length > 0 %}
								<img src="/products/{{product.productReferences[0].slug}}.jpg" class="w-full" alt="">
							{% else %}
								<img src="/products/default_product.jpg" class="w-full" alt="">
							{% endif %}
							<div class="px-6 py-4">
								<div class="font-bold text-md mb-2">{{product.name}}</div>
							</div>
							<div class="px-6 pt-4 pb-2 sm:block sm:justify-center">
								{% for ref in product.productReferences %}
									<span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{ref.weight}}
										{{ref.weightType}}</span>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
				</div>
            </div>
        </div>
        
    </div>
    <div class="h-30 flex justify-center my-8">
        <nav aria-label="Page navigation example">
            <ul class="list-style-none flex">
                {% if page > 1 %}
                    <li>
                        <a class="relative hover:bg-black hover:text-white block border-rounded border-2 border-black rounded px-3 py-1.5 text-sm text-black" href="{{path('home.products', {'page': page - 1, 'categorie' : category is defined ? category|url_encode : null})}}"><i class="fa-solid fa-arrow-left-long"></i></a>
                    </li>
                {% endif %}
                <li aria-current="page">
                    <p class="relative border-rounded border-2 border-black mr-3 ml-3 block rounded px-3 py-1.5 text-sm text-black">{{page}}</p>
                </li>
                {% if totalPage > page  %}
                    <li aria-current="page">
                        <a class="relative hover:bg-black hover:text-white block border-rounded border-2 border-black rounded px-3 py-1.5 text-sm text-black" href="{{path('home.products', {'page': page + 1, 'categorie' : category is defined ? category|url_encode : null})}}">
                            <i class="fa-solid fa-arrow-right-long"></i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}
