<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ app_name }}
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="/icon.png" sizes="32x32" type="image/png">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="font-sans">
		<div class="grid grid-cols-10 h-screen">
			<div class="col-span-1">
				<div class="flex h-full flex-col flex-shrink-0 p-3 bg-gray-900 text-white">		
					<a href="{{path('home')}}" class="flex text-xl hover:bg-[#593444] text-center bg-[#804C62] rounded py-1">
						<h1 class="mx-3">Gout'mé cha</h1>
						<img src="/icon.png" alt="">
					</a>
					{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							<p class="mb-2 md:text-center text-sm mt-4 rounded text-white [&>span]:underline [&>span]:font-bold">
								Connecté.e :
								<span>{{app.user.pseudonyme}}</span>
							</p>
								<a href="{{path('logout')}}" class="w-full text-center text-white hover:bg-gray-700">
								Déconnexion
							</a>
							<hr class="my-5">
					{% endif %}
					<ul class="flex flex-col space-y-2">
						<li>
							<a href="{{path('admin.orders.index')}}" class="flex items-center px-4 py-2 text-white hover:bg-gray-800 rounded-md {{app.request.attributes.get('_route') == 'admin.orders.index' ? 'bg-gray-800' : ''}}">
								<i class="fa-solid fa-truck-fast mr-2"></i>
								Commandes
							</a>
						</li>
						<li>
							<a href="{{path('admin.products.index')}}" class="flex items-center px-4 py-2 text-white hover:bg-gray-800 rounded-md {{app.request.attributes.get('_route') == 'admin.products.index' ? 'bg-gray-800' : ''}}">
								<i class="fa fa-shopping-cart mr-2"></i>
								Produits
							</a>
						</li>
						<li class="ml-3">
							<a href="{{path('admin.products.add')}}" class="flex items-center text-sm px-2 py-1 text-white hover:bg-gray-800 rounded-md">
								<i class="fa fa-plus mr-2"></i>
								Ajouter un produit
							</a>
						</li>
						<li>
							<a href="{{path('admin.categories.index')}}" class="flex items-center px-4 py-2 text-white hover:bg-gray-800 rounded-md {{app.request.attributes.get('_route') == 'admin.categories.index' ? 'bg-gray-800' : ''}}">
								<i class="fa fa-list mr-2"></i>
								Catégories
							</a>
						</li>
						<li class="ml-3">
							<a href="{{path('admin.categories.add')}}" class="flex items-center text-sm text-sm px-2 py-1 text-white hover:bg-gray-800 rounded-md">
								<i class="fa fa-plus mr-2"></i>
								Ajouter une catégorie
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-span-9">
				<div class="w-full px-3">
					<div {{ vue_component('admin/todolist') }}></div>
					{% block body %}{% endblock %}
				</div>
			</div>
		</div>

	</body>
</html>
