{% extends 'admin/base.html.twig' %}
{# {% block title %} - {{refForm.vars.value.}}{% endblock %} #}

{% block body %}
    <h1 class="text-center mt-10 text-2xl">Modifier un prix</h1>
    <hr class="mx-20 my-4">
    <div class="container mt-3 h-full flex items-center justify-center">
        {{ form_start(refForm, {attr: {'class' : 'space-y-9 w-full'}})}}
            <div class="grid grid-cols-10 gap-2">
                {{ form_errors(refForm) }}
                <div class="col-span-3">
                    {{ form_label(refForm.price, 'Prix :') }}
                    {{ form_errors(refForm.price) }}
                    {{ form_widget(refForm.price, {value:  refForm.vars.value.price/100|number_format(2), attr : {'class' : ' border rounded-sm border-slate-700 px-2 px-3', 'placeholder' : '12.30'}} )}}
                </div>
                <div class="col-span-3">
                    {{ form_label(refForm.weight, 'Poids :') }}
                    {{ form_errors(refForm.weight) }}
                    {{ form_widget(refForm.weight, {attr : {'class' : ' border rounded-sm border-slate-700 px-2 px-3', 'placeholder': '120'}} )}}
                </div>
                <div class="col-span-3">
                    {{ form_label(refForm.weightType, 'Unité :') }}
                    {{ form_errors(refForm.weightType) }}
                    {{ form_widget(refForm.weightType, {attr : {'class' : ' border rounded-sm border-slate-700 px-2 px-3', 'placeholder': 'g, mL, L...'}} )}}
                </div>
                <div class="col-start-4 col-span-8">
                    {{ form_widget(refForm.submit, {label : 'Modifier un prix', attr : {'class' : 'w-3/6 my-5 border border-blue-400 rounded-md bg-sky-400 px-2 py-1 text-white hover:bg-blue-800 hover:border-transparent'}})}}
                </div>
            </div>
        {{ form_end(refForm)}}
    </div>
{% endblock %}