<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ app_name }}{% block title %}{% endblock %}</title>
        <link rel="icon" href="/icon.png" sizes="32x32" type="image/png">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="font-sans">
        <nav class="flex items-center justify-between flex-wrap p-6 text-white bg-[#804C62]">
            <div class="flex items-center lg:w-fit md:w-full flex-shrink-0 mr-6">
                <a href="{{path('home')}}">
                    <img src="/logo.png" alt="Icône du site, fraise avec nom du site" width="64" class="mr-2">
                </a>
            </div>
            <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                <div class="text-sm lg:flex-grow">
                    <a href="{{path('home.products')}}" class="block lg:w-fit md:w-full md:text-center mt-4 lg:inline-block lg:mt-0 hover:bg-white px-4 py-2 rounded text-white border rounded border-white hover:border-transparent hover:text-[#804C62] mr-4">
                        Nos produits
                    </a>
                     {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{path('admin.products.index')}}" class="block mx-1 lg:w-fit md:w-full md:text-center mt-4 lg:inline-block lg:mt-0 hover:bg-white px-4 py-2 rounded text-red-500 border rounded border-red-500 hover:border-transparent hover:text-[#804C62] mr-4">
                            Accès Administrateur
                        </a>
                    {% endif %} 
                </div>
                <div>
                    <a href="#responsive-header" class="block md:text-center mt-4 lg:inline-block lg:mt-0 hover:text-teal-200 mr-4">
                        À propos
                    </a>
                    <a href="#responsive-header" class="block md:text-center mt-4 lg:inline-block lg:mt-0 hover:text-teal-200">
                        Contact
                    </a>
                </div>
            </div>
        </nav>
        <div id="app">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
