{% import "admin/macros/navigation.twig" as nav %}
{% extends 'admin/base.html.twig' %}
{% block title %} - {{form.vars.value is null ? 'Ajouter'  : 'Modifier' }} un produit{% endblock %}

{% block body %}
    {% if form.vars.value is not null %}
        {{nav.navigation(urls, lastLabel)}}
    {% else %}
        <a href={{url.route}}><i class="fa-solid fa-arrow-left px-1 mt-2"></i>{{url.label}}</a>
    {% endif %}
    <h1 class="text-center mt-10 text-2xl">
        {% if form.vars.value is null %}
            Ajouter
        {% else %}          
            Modifier
        {% endif %}
    </h1>
    <hr class="mx-20 my-4">
        <div class="container mt-3 h-full flex items-center justify-center">
            {{ form_start(form, {attr: {'class' : 'space-y-9'}})}}
            {{ form_errors(form)}}
            {{form_row(form.name, {label : 'Nom du produit :', attr : {'class' : 'border rounded-sm border-slate-700 ml-3 px-2 px-3', 'placeholder' : 'Confiture de kiwi...'}})}}
            {{form_row(form.category, {label : 'Catégorie :', attr : {'class' : 'border rounded-sm border-slate-700 ml-3 px-2 px-3'}})}}
            {{ form_widget(form.submit, {label : form.vars.value is null ? 'Ajouter' : 'Modifier', attr : {'class' : 'w-3/6 my-5 border border-blue-400 rounded-md bg-sky-400 px-2 py-1 text-white hover:bg-blue-800 hover:border-transparent'}})}}
        {{ form_end(form)}}
    </div>
{% endblock %}